{% load staticfiles %}

<div id="add_folder" class="reveal-modal" data-reveal>
	<div class="row">
	    <div class="large-12 columns">
  			<h2>Add Folder To Sync</h2>
  		</div>
	</div>
	
	<form id="add_folder_form" data-abide="ajax">
	  <div class="row">
	    <div class="large-12 columns">
	    	<label>Path <small>required</small>
	    		<input type="text" id="absolute_path" placeholder="Type an absolute local path to be synced" required pattern="[a-zA-Z]+">
	    	</label>	     	
	     	<small class="error">Path is required and must be a string.</small>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="large-12 columns">
	    	<button class="tiny radius" type="submit">verify</button>
	    	<a href="#" class="button tiny radius success disabled" onclick="set_folder_to_sync(this)">save</a>	     	
	    </div>
	  </div>
	  
	</form>
  
  <a class="close-reveal-modal">&#215;</a>
</div>
