{% extends "base.html" %}

{% block extra_head %}

{% endblock %}

{% block content %}

{% load staticfiles %}

<div id="s3files_table">

</div>


{% endblock %}

{% block extra_scripts %}

<script src="{% static 'js/s3file.js' %}"></script>

{% endblock %}
	
