{% load staticfiles %}

<div id="status" class="reveal-modal" data-reveal>
	<div class="row">
	    <div class="large-12 columns">
  			<h2>Status</h2>
  		</div>
	</div>
	
	<div class="row">
	    <div class="large-11 columns">
  			
  			<table>

			  <thead>
			    <tr>
			      <th>Directory</th>
			      <th>Uploaded files</th>
			      <th>Total files</th>
			    </tr>
			  </thead>

			  <tbody id="status_table_body">
			  </tbody>

			</table>
			
  		</div>
	</div>
  
  <a class="close-reveal-modal">&#215;</a>
  
</div>
