{% load staticfiles %}

<script id="table_template" type="text/template">

<table style="width: 100%;">

<%
	if(typeof(header) != "undefined" && header != null && header != "") {

		header = build_header_urls(header);

		%>
			  <thead>
			    <tr>
			      <th><%=header%></th>
				  <th></th>
    			</tr>
  			</thead>
		<%
	}
%>
  
  <tbody>

<%
	// console.log(objects);
	if(typeof(objects) != "undefined" && objects != null && objects.length > 0) {

		_.each(objects, function(obj){

			%>
				<tr class="s3_table_row">
					<%
						var onclick_handler = "get_sub_dir_files";
						var img_to_display = "{% static 'img/folder.png' %}";
						var img_class = "folder_icon";
						var status_img_to_display=null;
						var with_ancor_to_s3 = false;

						if(obj.is_file) {
							onclick_handler = "download_file";
							img_to_display = "{% static 'img/file.png' %}";
							img_class = "file_icon";
							if(obj.upload_succeeded) {
								status_img_to_display= "{% static 'img/v.png' %}";
								with_ancor_to_s3 = true;
							} else{
								status_img_to_display= "{% static 'img/sync.png' %}";
							}
						}
						
					%>   
      				<td data-dir_path="<%=obj.full_path%>" onclick="<%=onclick_handler%>(this);">
						<div style="float:left;">
							<img class="<%=img_class%>" src="<%=img_to_display%>" alt="folder">
							<%
								if(status_img_to_display != null) {
									%>
									<img class="upload_status" src="<%=status_img_to_display%>">
									<%
								}
							%>
						</div>
						<span class="folder_name_text">
							<%=obj.basename%> <br/>
							<span class="last_updated_style">last updated: <%=Date.parse(new Date(obj.last_updated).toDateString()).toString('dd-MMM-yyyy')%></span>
						</span>						
					</td>
					<%
						if(obj.is_file) {						
						%>
		      				<td data-dir_path="<%=obj.full_path%>" onclick="<%=onclick_handler%>(this);">
								<%
									if(with_ancor_to_s3) {
										%>
										<a href="https://s3.amazonaws.com/<%=obj.path.bucket%>/<%=obj.key%>" >
										<%
									}
								%>								
									<img class="action_img_style" src="{% static 'img/download.png' %}" alt="download">
								<%
									if(with_ancor_to_s3) {
										%>
										</a>
										<%
									}
								%>
							</td>
						<%
						
						} else if(header != ""){
						%>
							<td data-dir_path="<%=obj.full_path%>" onclick="<%=onclick_handler%>(this);">
		      					<img class="action_img_style" src="{% static 'img/drill_into.png' %}" alt="download">
							</td>
						<%

						}
			
					%>

    			</tr>
			<%
		});

	} else {

			%>
				<tr class="s3_table_row">
					<td>
						No files or folders here..
					</td>
				</tr>
			<%
	}

%>
    
  </tbody>

</table>

</script>


<script id="status_table_row_template" type="text/template">
	<%

	console.log(objects);
	if(typeof(objects) != "undefined" && objects != null && objects.length > 0) {

		_.each(objects, function(obj) {
			%>
			    <tr>
			      <td><%=obj.path%></td>
				  <td><%=obj.uploaded%></td>
			      <td><%=obj.total%></td>				  
    			</tr>			
			<%
		
		});
	} else {

			%>
				<tr class="s3_table_row">
					<td>
						No synced folders yet, add some..
					</td>
				</tr>
			<%

	}
	
	%>
</script>