{% load staticfiles %}

<div id="settings" class="reveal-modal" data-reveal>
	<div class="row">
	    <div class="large-12 columns">
  			<h2>Settings</h2>
  		</div>
	</div>
	
	<form>
	
	<div class="row">
	    <div class="large-12 columns">
	      <div class="row collapse prefix-radius postfix-radius">
		    <div class="small-3 columns">
	          <span class="prefix">Remote host address</span>
	        </div>
	        <div class="small-7 columns">	          
	          <input type="text" id="romote_host_address" placeholder="{{REMOTE_HOST_ADDRESS}}">
	        </div>
	        <div class="small-2 columns">
	          <a href="#" class="button postfix" onclick="handle_remove_host_haddress_changed(this)">save</a>
	        </div>
	      </div>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="large-12 columns">
	    	<label class="sync_remote" >Synchronize library with remote server</label>
	  		<a href="#" class="button tiny radius success" onclick="sync_remote_server(this)">sync</a>	  
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="large-6 columns">
	      <label>Local folders sync enabled</label>
	      <input type="radio" name="syncStatus" value=true id="enabedTrue" checked="checked"><label for="enabedTrue">True</label>
	      <input type="radio" name="syncStatus" value=false id="enabedFalse"><label for="enabedFalse">False</label>
	    </div>
	  </div>
	  
	</form>
  
  <a class="close-reveal-modal">&#215;</a>
  
</div>
