.folder_icon {
	width: 50px;
	height: 50px;
	float: left;
}

.file_icon {
	width: 35px;
	height: 50px;
	float: left;
}

.folder_name_text {
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}

tr.s3_table_row:hover {
	backgroud-color:#e5e5e5;
}

.last_updated_style{
	font-size:12px;
}

.action_img_style{
	width: 30px;
	height:30px;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.upload_status{
	width: 15px;
	height: 15px;	
	margin-top: -15px;
}

.sync_remote{
	float:left;
	margin-right: 15px;
	margin-top: 6px;
}
