{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">

  <head>
  
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>S3 Sync</title>
    <link rel="stylesheet" href="{% static 'stylesheets/app.css' %}" />
    <script src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>
    
    {% block extra_head %}{% endblock %}
    
    {% include "table_template.html" %}
    
  </head>
  
  <body>
  
    <div class="fixed">
		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name">
					<h1>
						<a href="#">S3 Sync</a>
					</h1>
				</li>
				<li class="toggle-topbar menu-icon">
					<a href="#">Menu</a>
				</li>					
			</ul>
			
			<section class="top-bar-section">			
				<ul class="right">
					<li>
						<a href="#" data-reveal-id="add_folder">Add Folder</a>
					</li>
					<li>
						<a href="#" data-reveal-id="status">Status</a>
					</li>
					<li>
						<a href="#" data-reveal-id="settings">Settings</a>
					</li>
									
				</ul>						
			</section>			
			
			<section class="top-bar-section">			
				<ul class="right">
					<li class="has-form">
					  <div class="row collapse">
					    <div class="large-8 small-9 columns">
					      <input type="text" placeholder="Find Stuff">
					    </div>
					    <div class="large-4 small-3 columns">
					      <a href="#" class="alert button expand">Search</a>
					    </div>
					  </div>
					</li>				
				</ul>						
			</section>
		</nav>
	</div>
	
	<div id="content_container" class="fadeOnLoad">
		{% block content %}{% endblock %}
	</div>
	
	{% include "add_folder.html" %}
	{% include "status.html" %}
	{% include "settings.html" %}
	
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/foundation/js/foundation.min.js' %}"></script>
    <script src="{% static 'bower_components/foundation/js/foundation/foundation.topbar.js' %}"></script>
    
    
    <script src="{% static 'js/util/color_util.js' %}"></script>
    <script src="{% static 'js/underscore-min.js' %}"></script>
    <script src="{% static 'js/util/date.js' %}"></script>
    <script src="{% static 'js/util/http_handler.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    
    <script src="{% static 'js/add_folder.js' %}"></script>
    <script src="{% static 'js/status.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    
    {% block extra_scripts %}{% endblock %}
    
  </body>
  
</html>
